.navbar-tab {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 4rem;
	padding: 0 1rem;
	height: 4rem;
	font-size: 1rem;
	font-weight: 400;
	cursor: default;
	transition: 150ms;

	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3rem;
		height: 3rem;

		border-top-left-radius: 10rem;
		border-top-right-radius: 10rem;
		border-bottom-left-radius: 10rem;
		border-bottom-right-radius: 10rem;

		transition: 250ms;
	}

	&.active {
		height: 5rem;

		& > div {
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	&:not(.active) {
		color: var(--neutral_200);

		&:hover {
			cursor: pointer;
		}
	}

	@media screen and (max-width: 410px) {
		min-width: 4rem;
		padding: 0 0.5rem;
		font-size: 0.9rem;
	}
}

.light-mode {
	.navbar-tab {
		color: var(--black_700);

		& > div {
			background-color: var(--neutral_300);
		}

		&.active,
		&:not(.active):hover {
			color: var(--black_900);

			& > div {
				background-color: var(--neutral_300);
			}
		}
	}
}

.dark-mode {
	.navbar-tab {
		& > div {
			background-color: var(--black_900);
		}

		&.active,
		&:not(.active):hover {
			color: var(--primary_400);

			& > div {
				background-color: var(--black_900);
			}
		}
	}
}
