.dropdown-content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	padding: 0.5rem 0.5rem;
	max-width: 16rem;
	font-size: 0.8rem;
	border-radius: 0.5rem;
}

.transition_dropdown_visibility-enter-active,
.transition_dropdown_visibility-leave-active {
	transition: all 150ms linear;
}

.transition_dropdown_visibility-enter-from {
	opacity: 0;
}

.transition_dropdown_visibility-leave-to {
	opacity: 0;
}

.light-mode {
	.dropdown-content {
		background-color: var(--neutral_600);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
	}
}

.dark-mode {
	.dropdown-content {
		background-color: var(--black_950);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
	}
}
