.toolkit-related-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	width: 9rem;
	height: 9rem;
	max-width: 9rem;
	max-height: 9rem;
	padding: 1rem;
	color: inherit;
	border-radius: 0.5rem;
	transition: background-color 0.3s;

	&:hover {
		cursor: pointer;
	}
}

.toolkit-related-card-icon {
	flex: 1 0 auto;
	font-size: 3.5rem;
}

.toolkit-related-card-name {
	display: flex;
	align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 100%;
	max-width: 100%;
	text-align: center;
	white-space: pre-wrap;
}

.light-mode {
	.toolkit-related-card {
		color: var(--neutral_700);
		background-color: var(--neutral_300);

		&:hover {
			background-color: var(--neutral_200);
		}
	}
}

.dark-mode {
	.toolkit-related-card {
		background-color: var(--black_900);

		&:hover {
			background-color: var(--black_800);
		}
	}
}
