$primary_50: #fef5f2;
$primary_100: #ffe8e1;
$primary_200: #ffd5c8;
$primary_300: #ffb29a;
$primary_400: #fd8e6c;
$primary_500: #f5693e;
$primary_600: #e24e20;
$primary_700: #be3f17;
$primary_800: #9d3717;
$primary_900: #82331a;
$primary_950: #471708;

$black: #1b1b1b;
$black_50: #f6f6f6;
$black_100: #e7e7e7;
$black_200: #d1d1d1;
$black_300: #b0b0b0;
$black_400: #888888;
$black_500: #6d6d6d;
$black_600: #5d5d5d;
$black_700: #4f4f4f;
$black_800: #454545;
$black_900: #333333;
$black_950: #262626;

$white_50: #fbfbfb;
$white_100: #efefef;
$white_200: #dcdcdc;
$white_300: #bdbdbd;
$white_400: #989898;
$white_500: #7c7c7c;
$white_600: #656565;
$white_700: #525252;
$white_800: #464646;
$white_900: #3d3d3d;
$white_950: #292929;

$red_50: #fff1f1;
$red_100: #ffdfdf;
$red_200: #ffc5c5;
$red_300: #ff9d9d;
$red_400: #ff6464;
$red_500: #ff3e3e;
$red_600: #ed1515;
$red_700: #c80d0d;
$red_800: #a50f0f;
$red_900: #881414;
$red_950: #4b0404;

$green_50: #edfff3;
$green_100: #d5ffe4;
$green_200: #aeffca;
$green_300: #70ffa3;
$green_400: #2bfd74;
$green_500: #00ff59;
$green_600: #00c03e;
$green_700: #009634;
$green_800: #06752e;
$green_900: #076028;
$green_950: #003714;
