.about-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: calc(100vh - 10rem);

	@media screen and (max-width: 1050px) {
		flex-direction: column-reverse;
		gap: 1rem;
		padding-top: 4rem;
	}
}

.about-container-start {
	overflow: hidden;
	width: calc(100% - 40rem);

	@media screen and (max-width: 1050px) {
		width: 100%;
	}
}

.about-container-end {
	display: flex;
	justify-content: center;
	width: 30rem;

	@media screen and (max-width: 1050px) {
		width: 100%;
	}
}

.about-logo {
	width: 15rem;
}

.about-description {
	margin-top: 2rem;
	font-weight: 400;
	white-space: pre-wrap;
}
