.about-container {
	display: flex;
	width: 100%;
	padding-top: 8rem;

	@media screen and (max-width: 1050px) {
		flex-direction: column-reverse;
		gap: 1rem;
		padding-top: 4rem;
	}
}

.about-container-start {
	overflow: hidden;
	width: calc(100% - 40rem);

	@media screen and (max-width: 1050px) {
		width: 100%;
		margin-top: 1rem;
	}
}

.about-container-end {
	display: flex;
	justify-content: center;
	width: 40rem;

	@media screen and (max-width: 1050px) {
		width: 100%;
	}
}

.about-logo {
	width: 15rem;
}

.about-description {
	margin-top: 2rem;
	font-weight: 400;
	white-space: pre-wrap;
}

.light-mode {
	.about-logo {
		filter: drop-shadow(1px 2px 0px #00000048);
	}
}
