.home-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1 1 auto;
}

.home-logo {
	margin-top: -4rem;

	@media screen and (max-width: 810px) {
		margin-top: 0;
	}

	@media screen and (max-width: 600px) {
		display: none;
	}
}

.home-title {
	font-size: 2.4rem;
	font-weight: 400;
	margin-top: 2rem;

	& > span {
		font-weight: 700;
		color: transparent;
	}

	@media screen and (max-width: 600px) {
		text-align: center;
	}
}

.home-description {
	font-size: 1.1rem;
	font-weight: 400;

	@media screen and (max-width: 600px) {
		text-align: center;
		margin-top: 0;
	}
}

.home-toolkits {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 2.5rem;

	& > a {
		display: flex;
		align-items: center;
		gap: 0.3rem;
		padding: 1rem 1.5rem;
		cursor: pointer;
		font-size: 1rem;
		font-weight: 500;
		border: none;
		border-radius: 0.5rem;
		transition:
			background-color 0.3s,
			transform 0.3s,
			color 0.3s;
		transform: translateY(0);

		&:hover {
			transform: translateY(-10%);
		}
	}

	@media screen and (max-width: 500px) {
		& > a {
			padding: 0.8rem 1.2rem;
			font-size: 0.9rem;
		}
	}
}

.home-about {
	margin-top: 1.5rem;
	font-size: 1.1rem;
	font-weight: 500;
	text-align: center;
	transition: color 0.3s;
}

.light-mode {
	.home-title {
		& > span {
			background: linear-gradient(to right, var(--primary_300), var(--primary_400));
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.home-toolkits {
		& > a {
			color: var(--neutral_50);
			background-color: var(--neutral_700);

			&:hover {
				color: var(--neutral_50);
				background-color: var(--primary_300);
			}
		}
	}

	.home-about {
		color: var(--black_500);

		&:hover {
			color: var(--black_800);
		}
	}
}

.dark-mode {
	.home-title {
		& > span {
			background: linear-gradient(to right, var(--primary_200), var(--primary_300), var(--primary_400));
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.home-toolkits {
		& > a {
			color: var(--neutral_50);
			background-color: var(--black_700);

			&:hover {
				background-color: var(--primary_500);
			}
		}
	}

	.home-about {
		color: var(--neutral_300);

		&:hover {
			color: var(--neutral_200);
		}
	}
}
