.toolkit-navigation-item {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.4rem;
	width: 18rem;
	height: 3rem;
	padding: 0.7rem 1.25rem;
	border-radius: 10rem;
	font-weight: 400;
	font-size: 0.9rem;
	border: 2px solid transparent;
	transition:
		0.3s background-color,
		0.3s color,
		0.3s border-color,
		0.5s width;
	user-select: none;
	overflow: hidden;

	&.favorited {
		animation: ButtonFavorite 600ms ease-out;
	}

	&.minimized {
		width: 3rem;

		& > .toolkit-navigation-item-icon {
			margin-left: -0.5rem;
		}
	}

	&.active {
		&:hover {
			cursor: default;
		}

		& > .toolkit-navigation-item-arrow {
			opacity: 1;
		}
	}

	&:hover {
		& > .toolkit-navigation-item-star {
			opacity: 1;
		}
	}

	&:not(.active):hover {
		cursor: pointer;

		& > .toolkit-navigation-item-arrow {
			opacity: 1;
		}
	}
}

.toolkit-navigation-item-icon {
	min-width: 1.25rem;
	transition-duration: 0.5s;
}

.toolkit-navigation-item-text {
	opacity: 1;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.toolkit-navigation-item-arrow {
	position: absolute;
	right: 0.5rem;
	opacity: 0;
	transition: opacity 0.3s;
}

.toolkit-navigation-item-star {
	position: absolute;
	top: 50%;
	right: 2rem;
	opacity: 0;
	transform-origin: top;
	transform: translateY(-50%);
	transition: opacity 0.3s;

	&.active {
		opacity: 1;
		animation: HeartFavorite 0.5s ease;
	}

	&:hover {
		cursor: pointer;
	}
}

.light-mode {
	.toolkit-navigation-item {
		color: var(--black_950);
		background-color: var(--primary_50);

		&:not(.active):hover {
			background-color: var(--primary_300);
		}

		&.active {
			color: var(--neutral_50);
			background-color: var(--primary_500);

			.toolkit-navigation-item-star {
				color: var(--neutral_50);
			}
		}
	}

	.toolkit-navigation-item-star {
		color: var(--neutral_800);
	}
}

.dark-mode {
	.toolkit-navigation-item {
		color: var(--neutral_100);
		background-color: var(--black_800);

		&:not(.active):hover {
			background-color: var(--black_600);
		}

		&.active {
			color: var(--neutral_50);
			background-color: var(--primary_500);

			.toolkit-navigation-item-star {
				color: var(--neutral_50);
			}
		}
	}

	.toolkit-navigation-item-star {
		color: var(--black_200);
	}
}

@keyframes ButtonFavorite {
	50% {
		border-color: var(--primary_500);
	}
}

@keyframes HeartFavorite {
	0% {
		transform: scale(1) translateY(-50%);
	}

	50% {
		color: var(--primary_500);
		transform: scale(1.2) translateY(-50%);
	}

	100% {
		transform: scale(1) translateY(-50%);
	}
}
