@use '~/assets/scss/utils/_colors.scss';

.tools-base64-image-container {
	display: flex;
	gap: 1rem;

	& > div {
		width: 50%;
	}
}

.tools-base64-image-preview-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
	height: 100%;
}

.tools-base64-image-preview {
	max-width: 100%;
	max-height: 15rem;

	& > img {
		width: 100%;
		height: 100%;
	}
}

.tools-base64-image-preview-buttons {
	display: flex;
	gap: 0.5rem;
}

.tools-base64-no-image-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border: 0.2rem dashed transparent;
	transition: 200ms;
}

.tools-base64-no-image-icon {
	font-size: 8rem;
}

.tools-base64-no-image-content-actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.5rem;

	& > button {
		margin-top: 0.5rem;
	}
}

.light-mode {
	.tools-base64-no-image-content-drag {
		border-color: colors.$white_400;
	}

	.tools-base64-no-image-icon {
		color: colors.$white_600;
	}
}

.dark-mode {
	.tools-base64-no-image-content-drag {
		border-color: colors.$black_500;
	}

	.tools-base64-no-image-icon {
		color: colors.$black_400;
	}
}

.transition_tools_base64_image_switch-enter-active,
.transition_tools_base64_image_switch-leave-active {
	transition: all 200ms ease-in-out;
}

.transition_tools_base64_image_switch-enter-from {
	opacity: 0;
	transform: scale(0.95);
}

.transition_tools_base64_image_switch-leave-to {
	opacity: 0;
	transform: scale(0.95);
}
