@use '~/assets/scss/utils/_colors.scss';

.tools-image-converter-image-icon {
	font-size: 8rem;
}

.light-mode {
	.tools-image-converter-content-drag {
		border-color: colors.$neutral_400;
	}

	.tools-image-converter-image-icon {
		color: colors.$neutral_600;
	}
}

.dark-mode {
	.tools-image-converter-content-drag {
		border-color: colors.$black_500;
	}

	.tools-image-converter-image-icon {
		color: colors.$black_400;
	}
}
