@use '~/assets/scss/utils/_colors.scss';

.tools-password-strength-tester-condition-bar {
	height: 4px;
	border-radius: 10rem;
	transition-duration: 0.2s;
}

.light-mode {
	.tools-password-strength-tester-condition-bar {
		background-color: colors.$neutral_400;

		&.passed {
			background-color: colors.$green_600;
		}
	}

	.tools-password-strength-tester-condition-icon-passed {
		color: colors.$green_700;
	}

	.tools-password-strength-tester-condition-icon-failed {
		color: colors.$red_600;
	}
}

.dark-mode {
	.tools-password-strength-tester-condition-bar {
		background-color: colors.$black_500;

		&.passed {
			background-color: colors.$green_600;
		}
	}

	.tools-password-strength-tester-condition-icon-passed {
		color: colors.$green_600;
	}

	.tools-password-strength-tester-condition-icon-failed {
		color: colors.$red_400;
	}
}
