@use '~/assets/scss/utils/_colors.scss';

.toolkit-container {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;

	& > div {
		height: 1rem;
	}
}

.toolkit-container-start {
	width: 20rem;
}

.toolkit-container-end {
	width: calc(100% - 20rem);
}

.toolkit-content {
	width: 100%;
	min-height: 10rem;
	border-radius: 1rem;
	overflow: hidden;
}

.light-mode {
	.toolkit-content {
		background-color: colors.$white_200;
	}
}

.dark-mode {
	.toolkit-content {
		background-color: colors.$black_950;
	}
}
