@use '~/assets/scss/utils/_colors.scss';

.toolkit-container {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;

	& > div {
		min-height: 1rem;
	}

	@media screen and (max-width: 1050px) {
		flex-direction: column;
	}
}

.toolkit-container-start {
	min-width: 20rem;
	max-width: 20rem;

	@media screen and (max-width: 1050px) {
		min-width: 100%;
		max-width: 100%;
	}
}

.toolkit-container-end {
	min-width: calc(100% - 20rem);
}

.toolkit-content {
	display: flex;
	width: 100%;
	min-height: 10rem;
	border-radius: 1rem;
	padding: 2rem;
	overflow: hidden;
}

.light-mode {
	.toolkit-content {
		background-color: colors.$white_200;
	}
}

.dark-mode {
	.toolkit-content {
		background-color: colors.$black_950;
	}
}

.transition_tool_switch-enter-active,
.transition_tool_switch-leave-active {
	transition: all 200ms ease-in-out;
}

.transition_tool_switch-enter-from {
	opacity: 0;
}

.transition_tool_switch-leave-to {
	opacity: 0;
}
