.input-slider-box {
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
	border-radius: 0.5rem;
}

.input-slider-track {
	position: relative;
	width: 100%;
	height: 0.5rem;
	border-radius: 9999px;
}

.input-slider-fill {
	position: absolute;
	top: 0;
	height: 0.5rem;
	border-radius: 9999px;
	transition: 50ms;
}

.input-slider-thumb {
	position: absolute;
	top: 50%;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 9999px;
	transform: translate(-50%, -50%);
	transition: 50ms;

	&:hover {
		cursor: pointer;
	}
}

.light-mode {
	.input-slider-box {
		background-color: var(--neutral_50);
	}

	.input-slider-track {
		background-color: var(--neutral_300);
	}

	.input-slider-fill {
		background-color: var(--primary_500);
	}

	.input-slider-thumb {
		background-color: var(--primary_500);
	}
}

.dark-mode {
	.input-slider-box {
		background-color: var(--black_800);
	}

	.input-slider-track {
		background-color: var(--black_950);
	}

	.input-slider-fill {
		background-color: var(--primary_500);
	}

	.input-slider-thumb {
		background-color: var(--primary_500);
	}
}
