.input-text-input {
	width: 100%;
	max-width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-size: 1rem;

	&.prepended {
		padding-left: 2rem;
	}

	&.appended {
		padding-right: 2rem;
	}
}

.input-text-prepend-icon {
	position: absolute;
	top: 50%;
	left: 0.5rem;
	transform: translateY(-50%);
}

.input-text-append-icon {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
}

.input-text-copy {
	position: absolute;
	max-width: max-content;
	max-height: max-content;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);

	&:hover {
		cursor: pointer;
	}

	&.preppended {
		left: 0.5rem;
	}

	&.appended {
		right: 2rem;
	}
}

.input-text-copy-copied {
	color: var(--primary_400);
	animation: Pulse 400ms;
	transform-origin: top right;
}

.light-mode {
	.input-text-input {
		color: var(--black_900);
		background-color: var(--neutral_50);
	}
}

.dark-mode {
	.input-text-input {
		color: var(--neutral_100);
		background-color: var(--black_800);
	}
}
