@use '~/assets/scss/utils/_colors.scss';

.navbar-language-selector-button {
	display: flex;
	overflow: hidden;
	border-radius: 100%;
	background-color: transparent;
}

.navbar-language-selector-languages {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.navbar-language-selector-language {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.transition_navbar_language_selector-enter-active,
.transition_navbar_language_selector-leave-active {
	transition: all 130ms ease-out;
}

.transition_navbar_language_selector-enter-from {
	transform: translateY(50%);
}

.transition_navbar_language_selector-leave-to {
	transform: translateY(-50%);
}
