@use '~/assets/scss/utils/_colors.scss';

nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	max-height: 4rem;
	z-index: 100;

	@media screen and (max-width: 1000px) {
		height: 8rem;
		max-height: 8rem;
	}
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 4rem;
	padding: 0.3rem 0;

	& > div {
		height: 4rem;
		max-height: 4rem;

		&.navbar-container-start {
			display: flex;
			width: 35%;
		}

		&.navbar-container-center {
			width: 30%;
			max-width: 10rem;
			padding: 0.6rem 0;

			& > a {
				display: flex;
				justify-content: center;
				height: 100%;
			}
		}

		&.navbar-container-end {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-right: 2rem;
			gap: 1rem;

			width: 35%;
		}
	}

	@media screen and (max-width: 1000px) {
		flex-wrap: wrap;

		& > div {
			&.navbar-container-start {
				order: 3;
				width: 100%;
			}

			&.navbar-container-center {
				order: 1;
				width: 50%;
				max-width: 50%;
				padding-left: 2rem;

				& > a {
					justify-content: flex-start;
				}
			}

			&.navbar-container-end {
				order: 2;
				width: 50%;
			}
		}
	}

	@media screen and (max-width: 500px) {
		& > div {
			&.navbar-container-start {
				justify-content: space-between;
			}
		}
	}
}

.navbar-logo {
	height: 100%;
}

.navbar-icon {
	color: colors.$primary_300;
}

.light-mode {
	nav {
		background-color: colors.$black_900;
	}
}

.dark-mode {
	nav {
		background-color: colors.$black_950;
	}
}
