@use '~/assets/scss/utils/_colors.scss';

nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	max-height: 4rem;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 4rem;
	padding: 0.3rem 0;

	& > div {
		height: 4rem;
		max-height: 4rem;

		&.navbar-container-start {
			display: flex;
			width: 35%;
		}

		&.navbar-container-center {
			width: 30%;
			padding: 0.6rem 0;

			& > a {
				display: flex;
				justify-content: center;
				height: 100%;
			}
		}

		&.navbar-container-end {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-right: 2rem;
			gap: 1rem;

			width: 35%;
		}
	}
}

.navbar-logo {
	height: 100%;
}

.light-mode {
	nav {
		background-color: colors.$black_900;
	}
}

.dark-mode {
	nav {
		background-color: colors.$black_950;
	}
}
