@use '~/assets/scss/utils/_colors.scss';

.navbar-tab {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 5rem;
	padding: 0 1rem;
	height: 4rem;
	font-size: 1rem;
	font-weight: 400;
	cursor: default;
	transition:
		background-color 150ms ease-out,
		color 150ms ease-out;

	&:not(.active) {
		color: colors.$neutral_200;

		&:hover {
			cursor: pointer;
		}
	}

	@media screen and (max-width: 410px) {
		min-width: 4rem;
		padding: 0 0.5rem;
		font-size: 0.9rem;
	}
}

.light-mode {
	.navbar-tab {
		&.active,
		&:not(.active):hover {
			color: colors.$black_900;
			background-color: colors.$neutral_50;
		}
	}
}

.dark-mode {
	.navbar-tab {
		&.active,
		&:not(.active):hover {
			color: colors.$neutral_50;
			background-color: colors.$black_900;
		}
	}
}
