.button {
	display: flex;
	align-items: center;
	gap: 0.2rem;
	padding: 0.5rem 1rem;
	height: max-content;
	border-radius: 0.4rem;
	font-size: 1rem;
	font-weight: 500;
	transition: all 0.3s ease;

	&:disabled {
		cursor: default;
	}
}

.light-mode {
	.button-primary {
		color: var(--neutral_50);
		background-color: var(--primary_500);

		&:not(:disabled):hover {
			background-color: var(--primary_600);
		}
	}

	.button-gray {
		color: var(--neutral_700);
		background-color: var(--neutral_50);

		&:not(:disabled):hover {
			background-color: var(--neutral_100);
		}
	}
}

.dark-mode {
	.button-primary {
		color: var(--neutral_50);
		background-color: var(--primary_500);

		&:not(:disabled):hover {
			background-color: var(--primary_600);
		}
	}

	.button-gray {
		color: var(--neutral_50);
		background-color: var(--neutral_700);

		&:not(:disabled):hover {
			background-color: var(--neutral_600);
		}
	}
}
