@use '~/assets/scss/utils/_colors.scss';

.button {
	display: flex;
	align-items: center;
	gap: 0.2rem;
	padding: 0.5rem 1rem;
	height: max-content;
	border-radius: 0.4rem;
	font-size: 1rem;
	font-weight: 500;
	transition: all 0.3s ease;

	&:disabled {
		cursor: default;
	}
}

.light-mode {
	.button-primary {
		color: colors.$neutral_50;
		background-color: colors.$primary_500;

		&:not(:disabled):hover {
			background-color: colors.$primary_600;
		}
	}
}

.dark-mode {
	.button-primary {
		color: colors.$neutral_50;
		background-color: colors.$primary_500;

		&:not(:disabled):hover {
			background-color: colors.$primary_600;
		}
	}

	.button-gray {
		color: colors.$neutral_50;
		background-color: colors.$neutral_700;

		&:not(:disabled):hover {
			background-color: colors.$neutral_600;
		}
	}
}
