.tools-bcrypt-checker-result {
	& > span {
		margin-left: 0.5rem;
		padding: 0.1rem 0.6rem;
		color: var(--neutral_100);
		border-radius: 10rem;
	}
}

.light-mode {
	.tools-bcrypt-checker-result {
		& > span {
			background-color: var(--neutral_600);

			&.error {
				background-color: var(--red_500);
			}

			&.valid {
				background-color: var(--green_600);
			}

			&.invalid {
				background-color: var(--red_500);
			}
		}
	}
}

.dark-mode {
	.tools-bcrypt-checker-result {
		& > span {
			background-color: var(--black_600);

			&.error {
				background-color: var(--red_500);
			}

			&.valid {
				background-color: var(--green_600);
			}

			&.invalid {
				background-color: var(--red_500);
			}
		}
	}
}
