.tools-image-converter-image-icon {
	font-size: 8rem;
}

.light-mode {
	.tools-image-converter-content-drag {
		border-color: var(--neutral_400);
	}

	.tools-image-converter-image-icon {
		color: var(--neutral_600);
	}
}

.dark-mode {
	.tools-image-converter-content-drag {
		border-color: var(--black_500);
	}

	.tools-image-converter-image-icon {
		color: var(--black_400);
	}
}
