.tools-password-strength-tester-condition-bar {
	height: 4px;
	border-radius: 10rem;
	transition-duration: 0.2s;
}

.light-mode {
	.tools-password-strength-tester-condition-bar {
		background-color: var(--neutral_400);

		&.passed {
			background-color: var(--green_600);
		}
	}

	.tools-password-strength-tester-condition-icon-passed {
		color: var(--green_700);
	}

	.tools-password-strength-tester-condition-icon-failed {
		color: var(--red_600);
	}
}

.dark-mode {
	.tools-password-strength-tester-condition-bar {
		background-color: var(--black_500);

		&.passed {
			background-color: var(--green_600);
		}
	}

	.tools-password-strength-tester-condition-icon-passed {
		color: var(--green_600);
	}

	.tools-password-strength-tester-condition-icon-failed {
		color: var(--red_400);
	}
}
