.toolkit-tool-container {
	width: 100%;

	& > div {
		height: 100%;
	}
}

.toolkit-tool-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.toolkit-tool-providers {
	font-size: 0.8rem;
	font-weight: 500;
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
}

.transition_tool_state_change-enter-active,
.transition_tool_state_change-leave-active {
	transition: all 300ms ease-in-out;
}

.transition_tool_state_change-enter-from {
	opacity: 0;
}

.transition_tool_state_change-leave-to {
	opacity: 0;
}
