.toolkit-tool-container {
	width: 100%;

	& > div {
		height: 100%;
	}

	@media screen and (max-width: 768px) {
		border-radius: 0.5rem;
		padding: 1rem;
	}
}

.toolkit-tool-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.toolkit-tool-providers {
	font-size: 0.8rem;
	font-weight: 500;
	margin-top: -1rem;
	margin-bottom: 1rem;
}

.transition_tool_state_change-enter-active,
.transition_tool_state_change-leave-active {
	transition: all 300ms ease-in-out;
}

.transition_tool_state_change-enter-from {
	opacity: 0;
}

.transition_tool_state_change-leave-to {
	opacity: 0;
}

.light-mode {
	@media screen and (max-width: 768px) {
		.toolkit-tool-container {
			background-color: var(--neutral_300);
		}
	}
}

.dark-mode {
	@media screen and (max-width: 768px) {
		.toolkit-tool-container {
			background-color: var(--black_950);
		}
	}
}
