@use '~/assets/scss/utils/_colors.scss';

.app-main {
	min-width: 100%;
	min-height: 100vh;
	max-height: 100vh;
}

.light-mode {
	.app-main {
		background-color: colors.$white_50;
	}
}

.dark-mode {
	.app-main {
		background-color: colors.$black_900;
	}
}
