.app-main {
	display: flex;
	flex-direction: column;
	min-width: 100%;
	min-height: 100svh;
	transition: background-color 150ms ease-out;
}

.app-main-page {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: 1rem 0;
	padding-bottom: 5rem;
}

.light-mode {
	.app-main {
		color: var(--black_900);
		background-color: var(--primary_50);
	}
}

.dark-mode {
	.app-main {
		color: var(--neutral_100);
		background-color: var(--black_900);
	}
}
