@use '~/assets/scss/utils/_colors.scss';

.app-main {
	display: flex;
	flex-direction: column;
	min-width: 100%;
	min-height: 100vh;
	transition: background-color 150ms ease-out;
}

.app-main-page {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: 1rem 0;
	padding-bottom: 5rem;
}

.light-mode {
	.app-main {
		color: colors.$black_950;
		background-color: colors.$white_100;
	}
}

.dark-mode {
	.app-main {
		color: colors.$white_100;
		background-color: colors.$black_900;
	}
}
