@use '~/assets/scss/utils/_colors.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	scroll-behavior: smooth;
	font-weight: 500;
	font-family: Poppins;
	text-decoration: none;

	&:disabled {
		opacity: 0.8;
	}
}

input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}

.container {
	width: 100%;
	max-width: 1450px;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: 1700px) {
		max-width: 1350px;
	}

	@media screen and (max-width: 1400px) {
		max-width: 1290px;
	}

	@media screen and (max-width: 1200px) {
		max-width: 1000px;
	}

	@media screen and (max-width: 1050px) {
		max-width: 800px;
	}
}
