@use '~/assets/scss/utils/_colors.scss';

.input-textarea-input {
	width: 100%;
	max-width: 100%;
	min-height: 3rem;
	padding: 0.6rem 1rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	resize: vertical;
}

.input-textarea-copy {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	transform-origin: top right;
}

.input-textarea-copy-copied {
	animation: Pulse 500ms;
}

.light-mode {
	.input-textarea-input {
		color: colors.$black_900;
		background-color: colors.$neutral_50;
	}
}

.dark-mode {
	.input-textarea-input {
		color: colors.$neutral_100;
		background-color: colors.$black_800;
	}
}
