@use '~/assets/scss/utils/_colors.scss';

.input-text-input {
	width: 100%;
	max-width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-size: 1rem;
}

.light-mode {
	.input-text-input {
		color: colors.$black_900;
		background-color: colors.$white_50;
	}
}

.dark-mode {
	.input-text-input {
		color: colors.$white_100;
		background-color: colors.$black_800;
	}
}
