@use '~/assets/scss/utils/_colors.scss';

.input-text-input {
	width: 100%;
	max-width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-size: 1rem;
}

.input-text-copy {
	position: absolute;
	max-width: max-content;
	max-height: max-content;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);

	&:hover {
		cursor: pointer;
	}
}

.input-text-copy-copied {
	color: colors.$primary_400;
	animation: Pulse 400ms;
	transform-origin: top right;
}

.light-mode {
	.input-text-input {
		color: colors.$black_900;
		background-color: colors.$white_50;
	}
}

.dark-mode {
	.input-text-input {
		color: colors.$white_100;
		background-color: colors.$black_800;
	}
}
