@use '~/assets/scss/utils/_colors.scss';

.toolkit-navigation-item {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.4rem;
	width: 90%;
	max-width: 90%;
	padding: 0.7rem 1.25rem;
	border-radius: 10rem;
	font-weight: 400;
	font-size: 0.9rem;
	border: 2px solid transparent;
	transition: background-color 0.3s;
	user-select: none;

	&.toolkit-navigation-item-favorite {
		animation: ButtonFavorite 600ms ease-out;
	}

	&.active {
		&:hover {
			cursor: default;
		}

		& > .toolkit-navigation-item-arrow {
			opacity: 1;
		}
	}

	&:hover {
		& > .toolkit-navigation-item-star {
			opacity: 1;
		}
	}

	&:not(.active):hover {
		cursor: pointer;

		& > .toolkit-navigation-item-arrow {
			opacity: 1;
		}
	}
}

.toolkit-navigation-item-arrow {
	position: absolute;
	right: 0.5rem;
	opacity: 0;
	transition: opacity 0.3s;
}

.toolkit-navigation-item-star {
	position: absolute;
	top: 50%;
	right: 2rem;
	opacity: 0;
	transform-origin: top;
	transform: translateY(-50%);
	transition: opacity 0.3s;

	&.active {
		opacity: 1;
		animation: HeartFavorite 0.5s ease;
	}

	&:hover {
		cursor: pointer;
	}
}

.light-mode {
	.toolkit-navigation-item {
		color: colors.$black_950;
		background-color: colors.$white_50;

		&:not(.active):hover {
			background-color: colors.$primary_200;
		}

		&.active {
			color: colors.$white_50;
			background-color: colors.$primary_500;

			.toolkit-navigation-item-star {
				color: colors.$white_50;
			}
		}
	}

	.toolkit-navigation-item-star {
		color: colors.$white_800;
	}
}

.dark-mode {
	.toolkit-navigation-item {
		color: colors.$white_100;
		background-color: colors.$black_800;

		&:not(.active):hover {
			background-color: colors.$black_600;
		}

		&.active {
			color: colors.$white_50;
			background-color: colors.$primary_500;

			.toolkit-navigation-item-star {
				color: colors.$white_50;
			}
		}
	}

	.toolkit-navigation-item-star {
		color: colors.$black_200;
	}
}

@keyframes ButtonFavorite {
	50% {
		border-color: colors.$primary_500;
	}
}

@keyframes HeartFavorite {
	0% {
		transform: scale(1) translateY(-50%);
	}

	50% {
		color: colors.$primary_500;
		transform: scale(1.2) translateY(-50%);
	}

	100% {
		transform: scale(1) translateY(-50%);
	}
}
