@use '~/assets/scss/utils/_colors.scss';

.toolkit-navigation {
	width: 100%;
	min-height: 4rem;
	border-radius: 1rem;
	padding-bottom: 1.5rem;
}

.toolkit-navigation-title {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	padding: 0 1.5rem;
	padding-top: 1rem;
}

.toolkit-navigation-search-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem 1rem;
}

.toolkit-navigation-search {
	position: relative;
	width: 100%;
	max-width: 80%;
	height: 2.5rem;
	border-radius: 10rem;
	overflow: hidden;

	& > input {
		width: 100%;
		height: 100%;
		padding-left: 2.5rem;
		padding-right: 1rem;
		background-color: transparent;
	}
}

.toolkit-navigation-search-icon {
	position: absolute;
	top: 50%;
	left: 0.8rem;
	transform: translateY(-50%);
}

.toolkit-navigation-search-star {
	position: relative;
	margin: auto;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.5rem;
	border-radius: 100%;
	user-select: none;
	transition:
		color 0.3s,
		background-color 0.3s;

	& > span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:hover {
		cursor: pointer;
	}
}

.toolkit-navigation-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.light-mode {
	.toolkit-navigation {
		background-color: colors.$neutral_200;
	}

	.toolkit-navigation-search {
		background-color: colors.$neutral_50;

		& > input {
			color: colors.$black_950;

			&::placeholder {
				color: colors.$black_700;
			}
		}
	}

	.toolkit-navigation-search-star {
		color: colors.$black_500;
		background-color: colors.$neutral_50;

		&:not(.active) {
			&:hover {
				color: colors.$black_400;
			}
		}

		&.active {
			color: colors.$neutral_100;
			background-color: colors.$primary_500;

			&:hover {
				background-color: colors.$primary_600;
			}
		}
	}
}

.dark-mode {
	.toolkit-navigation {
		background-color: colors.$black_950;
	}

	.toolkit-navigation-search {
		background-color: colors.$black_900;

		& > input {
			color: colors.$neutral_50;

			&::placeholder {
				color: colors.$neutral_300;
			}
		}
	}

	.toolkit-navigation-search-star {
		color: colors.$black_500;
		background-color: colors.$black_900;

		&:not(.active) {
			&:hover {
				color: colors.$black_400;
			}
		}

		&.active {
			color: colors.$neutral_100;
			background-color: colors.$primary_500;

			&:hover {
				background-color: colors.$primary_600;
			}
		}

		&:hover {
			background-color: colors.$black_800;
		}
	}
}

.transition_navigation_items-enter-active,
.transition_navigation_items-leave-active {
	transition: all 200ms ease-in-out;
}

.transition_navigation_items-enter-from {
	opacity: 0;
	transform: scale(0.95);
}

.transition_navigation_items-leave-to {
	opacity: 0;
	transform: scale(0.95);
}
